# Environment variables / secrets
.env
.env.*
api_keys

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Operating system
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
npm-debug.log*

# Local database backups
* - Copy.db

dist/